ion-col {
    text-align: center;
    top: 40px;
  }

.heading1 {
  font-size: 140%;
  text-align: center;
  top: 10px;
   }

   ion-item {
    --background: #cccccc;
    top: 50px;
   }
.map {
  margin: auto;
  width: 80%;
  
  padding: 10px;
}