ion-toolbar {
  background-color: #FFF375;
}

ion-grid {
  margin-top: 15px
}
h2 {
  font-size: 160px;
}
h3{
  font-size: medium;
}
ion-icon {

  text-align: center;
}

ion-button {

  text-align: center;
  margin-top: 0px;
  color: black;
  background-color: #FFF375;


  }
