<ion-header>
  <ion-toolbar>
    <ion-title>Vent2U</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-grid>
    <ion-row>
        <ion-col>
        <div class="ion-text-center">
          <u>
         <h1>Control your <br> indoor climate</h1>
        </u>
        </div>
        </ion-col>
    </ion-row>

    <div class="ion-text-center">
      <h2><ion-icon name="thermometer-outline" font-size="160px"></ion-icon></h2>
    </div>

    <ion-button href="/sign-in" expand="block" color="a"><b>Sign in</b></ion-button>


    <ion-col class="ion-padding-top"></ion-col>
    <div class="ion-text-center">
    <h3><ion-icon name="logo-facebook"></ion-icon><ion-icon name="logo-twitter"></ion-icon><ion-icon name="logo-instagram"></ion-icon></h3>
</div>
