<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-back-button defaultHref ="start-screen"></ion-back-button>
    </ion-buttons>         
    <ion-title>Sign-in</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <div class="center">
  
      <form #form="ngForm" (ngSubmit)="Login(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item transparent>
              <img icon-small src ="assets/icon/user.png"/>
              <ion-input name="email" type="email" placeholder="for eg.: john0080@edu.easj.dk" ngModel required class="ion-text-center"></ion-input>
              </ion-item>
              <ion-item transparent>
              <img icon-small src ="assets/icon/pwd.png"/>
              <ion-input name="password" type="password" placeholder="Password" ngModel required class="ion-text-center"></ion-input>
              </ion-item>
              
             </div>
            <div padding>
              <ion-button routerLink="/tabs/tab1" size="medium" type="submit" [disabled]="form.invalid" expand="block">Sign-in</ion-button>
            </div>
            <div id ="container">
             <a target="_blank" rel ="noopener noreferrer" href="https://sumit.dk/">Forgot your password?</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  
</ion-content>

<ion-footer class ="ion-no-border">
  <div class ="login-footer ion padding">
    <a target ="_blank" rel = "noopener noreferrer"href ="https://www.vent2u.dk/"><img class = "logo-img" src = "assets/icon/logo.png"></a>
  </div>
</ion-footer>
