<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="backg ion-padding-vertical">
    <ion-row  >
      <ion-icon size="large" name="close-circle" color="secondary"></ion-icon>
      <ion-col></ion-col>
      <ion-col class="ion-align-items-center" >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="160" height="160" viewBox="0 0 24 24" ><path  d="M13 3C9.2 3 6.2 5.9 6 9.7L4.1 12.2C3.9 12.5 4.1 13 4.5 13H6V16C6 17.1 6.9 18 8 18H9V21H16V16.3C18.4 15.2 20 12.8 20 10C20 6.1 16.9 3 13 3M14 15H12V13H14V14M14 11H12V5H14V11Z" fill="white" /></svg>
        </ion-col>
      
        <ion-col></ion-col>
    </ion-row></ion-grid>
    <ion-grid>
      <ion-row class="ion-padding">
        <h3> System Reseted <ion-icon name="checkmark-circle-outline"></ion-icon></h3>
     </ion-row></ion-grid>
    <ion-grid class="ion-wrap">
      <ion-row >
       <ion-col class="ion-padding">
         <p> Outdoor air inside strengthens the brain in the most complex cognitive functions. Cognitive well-being with outdoor air</p>
       </ion-col>
       </ion-row></ion-grid>
    
  
</ion-content>
