.backg{
    background-color: #fff375;
    color: #fff;
  }
  .text-not{
      margin-left: 16px;
    font-weight:300;
    font-size: medium;
    line-height: 130%;
}
  .notification_pad{
    padding-left: 8vw;
  
  }
  
  .weather{
    align-items: center;
    
  }
  
  .sun{
    align-content: center;
    padding:3vw;
  }

  .header-ios ion-toolbar{
      height: 70px;
      display: flex;
      align-items: center;
  }

