<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="medium">Adjust temperature</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref ="start-screen"></ion-back-button>
       </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div class="ion-text-center">
   <p>The current temperature of your location is</p>
  </div>

  <div class="ion-text-center">
    <b><h1>{{rangeVal}}°C</h1></b>
  </div>

   <div class="ion-text-center">
    <p>Toggle the bar below to adjust <br> your comfortable temperature</p>
   </div>

  <ion-item><p>15</p>
    <ion-range [(ngModel)]="rangeVal" pin="true" min="15" max="25" step="1" snaps color="danger" >
      <ion-icon slot="start" size="small" color="danger" name="thermometer">15</ion-icon>
      <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
    </ion-range><p>25</p>
  </ion-item>


  <div class="ion-text-center">
    <ion-button expand="block"><b>Save</b></ion-button>
  </div>
